.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px;
  background: var(--background);
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 8px #222;
  border: 1px solid var(--color-border);
}

#search {
  border: 0 none;
  color: var(--color-white);
  background: none;
  font-size: 20px;
}

#results {
  display: none;
  margin: 0;
  border: 1px solid var(--color-border);
  border-top: 0;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: var(--background);
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
}

#results > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 5px 5px;
  color: var(--color-white);
  font-size: 0.9rem;
  border-radius: var(--border-radius-small);
  opacity: 0.9;
}

#results > li:focus {
  background-color: var(--color-border);
}

#results > li > img {
  width: 3ch;
  height: 3ch;
  border-radius: var(--border-radius-small);
  margin-right: 1ch;
}

#results > li > span.label {
  opacity: 0.5;
}

#results > li > span.label::before {
  content: "\2014";
  margin: 0 0.5ch;
}

#results > hr {
  margin: 5px;
  border: 0;
  border-top: 1px solid var(--color-border);
}
